<%#
Copyright (C) 2009 MadebyMany 2009

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Taskboard: User list</title>
	<%= stylesheet_link_tag 'admin' %>
</head>


<h1>
	<%= link_to "Taskboard", { :controller => "taskboard", :action => "index" }, :title => "Back to taskboard list", :rel => 'home', :class => "logo" %>
</h1>

<div id="content">


<h2>New user</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<% form_for @user do |f| -%>
  <p><label for="login">Login</label><br/>
	<%= f.text_field :username %></p>

  <p><label for="email">Email</label><br/>
  <%= f.text_field :email %></p>

	<p>
  	<b>Editor:</b>
  	<%= f.check_box :editor %>
	</p>

  <p><label for="password">Password</label><br/>
  <%= f.password_field :password %></p>

  <p><label for="password_confirmation">Confirm Password</label><br/>
  <%= f.password_field :password_confirmation %></p>
  
  <p>
    <strong>Permissions</strong><br/>
    <ul id="permissions">
      <% Taskboard.all.each do |taskboard| %>
        <%= check_box_tag("user[taskboard_ids][]", taskboard.id, false) %> <label><%= taskboard.name %></label>
	    <% end %>
	  </ul>
	</p>

  <p><%= submit_tag 'Create' %></p>
<% end %>


<% end %>

<%= link_to 'Back to admin', users_path %>

</div>